body {
    margin: 0px; 
    background-color: skyblue;
}

.header {
    text-align: center; 
    background-color: #C3ACD0; 
    margin: 0px; 
    padding: 10px
}

.content {
    text-align: center;
}

.meme {
    
}

.meme-title {

}

.meme-description {
    margin-right: 250px; 
    margin-left: 250px;
}

.footer {
    text-align: center; 
    background-color: #C3ACD0; 
    padding: 10px;
}

.contact-list {
    text-align: center; 
    margin: 0 auto;
}